layout {
    pane split_direction="horizontal" {
        pane command="/opt/homebrew/bin/nvim"
        pane size="25%" borderless=true
        pane size="1" borderless=true {
          plugin location="status-bar"
        }
    }
}
